html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

.container {
  float: none;
  margin: 32px auto;
  width: 300px;
}

#logo-container {
  width: 300px;
  height: 300px;
  background: url(../img/ia-logo-back.png) 0% 0% no-repeat;
  background-size: contain;
  float: left;
  position: relative;
}

#dot-options {
  float: left;
  width: 100%;
  margin: 16px 0;
  height: 43px;
}
#dot-options li {
  float: left;
  list-style: none;
  width: 20%;
  text-align: center;
}

.dot {
  width: 43px;
  height: 43px;
  cursor: grab;
}

.dot-placeholder {
  width: 66px;
  height: 66px;
  background: transparent;
  transition: background 0.33s;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}
.dot-placeholder .dot {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dot-placeholder.hover {
  background: rgba(0, 0, 0, 0.25);
}
.dot-placeholder#black1-placeholder {
  top: 84px;
  left: 12px;
}
.dot-placeholder#blue-placeholder {
  top: 12px;
  left: 126px;
}
.dot-placeholder#red-placeholder {
  top: 24px;
  left: 216px;
}
.dot-placeholder#green-placeholder {
  top: 156px;
  left: 60px;
}
.dot-placeholder#black2-placeholder {
  top: 132px;
  left: 198px;
}

.additional-data {
  float: left;
  width: 100%;
}

#reset-dots {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left;
  margin: 32px 0;
  background: black;
  color: white;
  border: none;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 8px 16px;
  cursor: pointer;
  max-width: 50%;
}

#best-score {
  float: right;
  max-width: 50%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-top: 8px;
}

@media screen and (max-width: 300px) {
  .additional-data,
  #best-score,
  #reset-dots {
    width: 100%;
    max-width: 100%;
  }

  #best-score {
    text-align: center;
    font-size: 16px;
  }
}
