@import "compass/reset";

$baseWidth: 300; // Original project width
$newWidth: 300; // New deviated width

@function pixels($original) {
  /* Converts all pixels based on $baseWidth proportionally into new pixels based on $newWidth */

  $newRatio: $newWidth / $baseWidth;
  @return ($original * $newRatio) * 1px;
}

@mixin fontFamily {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  float: none;
  margin: 32px auto;
  width: pixels(300);
}

#logo-container {
  width: pixels(300);
  height: pixels(300);
  background: url(../img/ia-logo-back.png) 0% 0% no-repeat;
  background-size: contain;
  float: left;
  position: relative;
}

#dot-options {
  float: left;
  width: 100%;
  margin: 16px 0;
  height: pixels(43);
  li {
    float: left;
    list-style: none;
    width: 20%;
    text-align: center;
  }
}

.dot {
  width: pixels(43);
  height: pixels(43);
  cursor: grab;
}

.dot-placeholder {
  width: pixels(66);
  height: pixels(66);
  background: rgba(black, 0);
  transition: background 0.33s;
  position: absolute;
  border-radius: 50%;
  z-index: 1;

  .dot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.hover {
    background: rgba(black, 0.25);
  }

  &#black1-placeholder {
    top: pixels(84);
    left: pixels(12);
  }
  &#blue-placeholder {
    top: pixels(12);
    left: pixels(126);
  }
  &#red-placeholder {
    top: pixels(24);
    left: pixels(216);
  }
  &#green-placeholder {
    top: pixels(156);
    left: pixels(60);
  }
  &#black2-placeholder {
    top: pixels(132);
    left: pixels(198);
  }
}

.additional-data {
  float: left;
  width: 100%;
}

#reset-dots {
  @include fontFamily();
  float: left;
  margin: pixels(32) 0;
  background: black;
  color: white;
  border: none;
  font-size: pixels(18);
  letter-spacing: pixels(1);
  padding: pixels(8) pixels(16);
  cursor: pointer;
  max-width: 50%;
}

#best-score {
  float: right;
  max-width: 50%;
  @include fontFamily();
  font-size: 14px;
  margin-top: pixels(8);
}

@media screen and (max-width: 300px) {
  .additional-data,
  #best-score,
  #reset-dots {
    width: 100%;
    max-width: 100%;
  }

  #best-score {
    text-align: center;
    font-size: 16px;
  }
}
